
<form>
  <label for="inp0">GraphQL endpoint. </label>
  <input id="inp0" type="text" name="inp0" value="http://localhost:7700/graphql"/>
  <input id="btn0" type="button" value="refresh" onclick="getSchema('inp0')"/>
  <div id="schema"></div>
</form>
<div id="my-app">
  <my-component id="comp0"></my-component>
  <schemer></schemer>
  <ol> 
    <li v-for="t in types">{{t.name}}</li>
  </ol>
  <pre>{{schema}}  </pre>
</div>