<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="jquery.json-viewer.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="jquery.json-viewer.css">
    <title>GraphQL explorer</title>
  </head>
  <body>
    <form>
      <label for="inp0">GraphQL endpoint. </label>
      <input id="inp0" type="text" name="inp0" value="http://localhost:7700/graphql">
      <input id="btn0" type="button" value="refresh" onclick="getSchema('inp0')">
      <div id="schema"></div>
    </form>
    <div id="my-app">
      <my-component id="comp0"></my-component>
      <schemer></schemer>
      <ol> 
        <li v-for="t in types">{{t.name}}</li>
      </ol>
      <pre>{{schema}}  </pre>
    </div>
    <script src="index.js"></script>
  </body>
</html>