<template>
  <div class="hello" >{{num}} Hello {{who}}</div>
</template>

<script>
var dd=77;

module.exports = {
  props: ['num'],
  data: function() {
    return {
      who: "world",
      // num:88,
    }
  },
  // data: {
  //   dnum: 3,
  //   who: "wword"
  // }
};
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>