<template>
  <form>
    <label for="inp0">GraphQL endpoint</label>
    <input id="inp0" type="text" name="inp0" value="http://localhost:7700/graphql">
    <input id="btn0" type="button" value="refresh" onclick="getSchema('inp0')">
    <div id="schema0"></div>
  </form>
</template>

<script>
var schema = {};
const queryString = `
query IntrospectionQuery {
    __schema {
      queryType {
        ...FullType
      }
      mutationType {
        name
      }
      subscriptionType {
        name
      }
      types {
        ...FullType
      }
      directives {
        name
        description
        locations
        args {
          ...InputValue
        }
      }
    }
  }
  
  fragment FullType on __Type {
    kind
    name
    description
    fields(includeDeprecated: true) {
      name
      description
      args {
        ...InputValue
      }
      type {
        ...TypeRef
      }
      isDeprecated
      deprecationReason
    }
    inputFields {
      ...InputValue
    }
    interfaces {
      ...TypeRef
    }
    enumValues(includeDeprecated: true) {
      name
      description
      isDeprecated
      deprecationReason
    }
    possibleTypes {
      ...TypeRef
    }
  }
  
  fragment InputValue on __InputValue {
    name
    description
    type {
      ...TypeRef
    }
    defaultValue
  }
  
  fragment TypeRef on __Type {
    kind
    name
    ofType {
      kind
      name
      ofType {
        kind
        name
        ofType {
          kind
          name
          ofType {
            kind
            name
            ofType {
              kind
              name
              ofType {
                kind
                name
                ofType {
                  kind
                  name
                }
              }
            }
          }
        }
      }
    }
  }
  

`


// async function getSchema(inputId) {
//     var url0 = document.getElementById(inputId).value

//     // schema =  await $.ajax({ url: url0, type: "POST", data: { query:queryString, variables: '{}'},});   

//     var resp = await fetch(url0, { method: 'POST', body: JSON.stringify({ query: queryString, variables: '{}' }), })
//     schema = await resp.json()

//     // $('#schema0').jsonViewer(schema, { collapsed: true, rootCollapsable: false })
//     // $('#schema').text(JSON.stringify(response, null,'  '));

//     // app.types=schema.data.__schema.types.filter( t => t.name[0]!='_')
//     // app.query  = app.types.filter(t => t.name == 'Query')[0]
//     // app.mutation  = app.types.filter(t => t.name == 'Mutation')[0]
//     // app.schema = schema

// }





module.exports = {
  props: ['num'],
  data: function() {
    return {
      who: "world",
      schema: {},
      // num:88,
    }
  },
  met

};
</script>

<style scoped>
#inp0 {
  width: 200px;
}
#schema {
  border: 1px solid whitesmoke;
}
</style>
