


form
    label(for="inp0") GraphQL endpoint. 
    input#inp0(type="text", name="inp0", value="http://localhost:7700/graphql",)
    input#btn0(type="button", value="refresh", onclick="getSchema('inp0')")
    
    #schema


#my-app
  my-component(id="comp0")
  schemer
  ol 
    li(v-for="t in types") {{t.name}}

  pre {{schema}}  
  
  
    
