doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width,initial-scale=1')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')


        //- link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        script(src='//code.jquery.com/jquery-3.2.1.min.js')
        //- script(src='//code.jquery.com/ui/1.12.1/jquery-ui.js')
        //- script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js')
        script(src='jquery.json-viewer.js')

        //- script(src='https://unpkg.com/vue')
        script(src='https://unpkg.com/vue')
        script(src='https://unpkg.com/http-vue-loader')



        link(rel="stylesheet", href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css")
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic")
        //- link(rel="stylesheet", href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css")
        //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css")
        link(rel="stylesheet", href="index.css")
        link(rel="stylesheet", href="jquery.json-viewer.css")

        title GraphQL explorer

    body
        include body.pug
        script(src="index.js")


